body{
	background-image: url("resources/images/transformers.jpg");
	background-size: cover;
	background-position: fill;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1{
	color: red;
	text-align: center; 
}

h4{
	color: red;
	text-align: center;
}
.aye{
	text-align: center;
	padding-top: 20%;
}
.img{
	padding-top: 25%;
}
/*.foot{
	text-align: bottom;
}*/