body{
	background-image: url("resources/images/box.jpg");
	background-size: cover;
	background-position: fill;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.sign{
	font-size: xx-large;
	color: white;
}
